.header-logo {
  height: 100px;
  width: auto;
  margin-right: 15px;
  opacity: 0.9;

  -webkit-mask-image: radial-gradient(
    circle,
    black 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    circle,
    black 60%,
    transparent 100%
  );
}

nav a {
  color: #fef3c7;
  text-decoration: none;
  font-size: 1.5rem;  /* bigger than 1.2rem */
  font-weight: 650;
  padding: 0 12px;    /* adds extra space around each link */
}

nav a:hover {
  color: #facc15;
}

